<div class="card">

  <form (ngSubmit)="crear()" autocomplete="off" [formGroup]="registerForm">

    <div class="card-body">
      <div class="form-group">
        <div class="demo-switch-title">Categoria</div>
        <select class="form-control custom-select" formControlName="category">
          <option value="Canina">Canina</option>
          <option value="Felina">Felina</option>
        </select>
        <small class="form-control-feedback"> Seleccione una categoria </small>
      </div>

      <div class="form-group">
        <label for="exampleInputuname">Nombre *</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-user"></i></div>
          <input type="text" class="form-control" placeholder="name" formControlName="name">
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputuname">Tags</label>
        <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="dropdownSettings"
          [data]="dropdownList"  (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>

      </div>

      <div>
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
        <a (click)="cancelarGuardado()" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
      </div>

    </div>
  </form>

</div>